/* SignUp */

#app > main > section > div > div > div > div > div {
      
    box-shadow: 20px 20px 50px 10px rgba(83, 83, 83, 0.668) ;
  
  }
      .gradient-form  .gradient-form-log{
  
          height: 100px;
      }
  
      .gradient-custom-2 {
  
          background: url('../public/img/pexels.jpeg');
          object-fit: cover;
          background-repeat: no-repeat;
          
      }
     
  
      @media (max-width: 991px) and (min-width:769px) {     
        .gradient-form .gradient-form-log{
              height: 100vh !important;
          
          }
          .gradient-custom-2 {
              border-top-right-radius: .3rem;
              border-bottom-right-radius: .3rem;
              height:100vh ;
      
              margin-left: 120px;
              /* padding: 30px; */
          }
          .gradient-form {
              height: 100vh !important;
              margin-bottom: 800px;
          }
          .gradient-form-log{
              height: 100vh !important;
              margin-bottom: 450px;
          }
       
  
      }
  
      @media (max-width: 769px) {     
        .gradient-form .gradient-form-log{
              height: 100vh !important;
          }
          .gradient-custom-2 {
            height: 100vh !important;
              border-top-right-radius: .3rem;
              border-bottom-right-radius: .3rem;
              margin-left: 30px;
          }
      }
    
      
      .errors{
          color: red;
      }
  
      .errorMassage{
        justify-content: center;
      }
      /* ************************************************************************************************** */
  
  .logout{
      background-color:red;
      border-radius: 20px;
      color: white;
      font-size: small;
      padding: 5px;
  }
  
  
  .unapproved{
      color: red;
      font-weight: 700;
  }
  .approved{
      color:rgb(27, 176, 27);
      font-weight: 700;
  }
  
  .edit{
      margin-top: 150px;
  }
  
  .expired{
      color:orange;
      font-weight: 700;
  }

.contract-all{
    margin-top: 100px;
}

.addcon{
margin-top: 5000px;
}


.youtube{
    height: 450px;
    width : 800px;
    margin-left: 250px;
}

.title{
   text-align: center;
   padding-bottom: 40px;
   padding-top: 20px;
}